/* DON'T TOUCH THIS! */
body {
   height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 22px;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

/* - Main button background: #ef5839
 - Hovered button background: #d4b44c
 - Hovered button text color: #2e354f */

 .btn {
 	display: inline-block;
 	background: #EF5839;
 	color: #FFF;
 	padding: 20px 50px;
 	text-decoration: none;
 }

 .btn:hover {
 	background: #D4B44C;
 	color: #2E354F;
 }